/*
body {
  text-align: center;
  margin: 0px auto 0px auto;
  width: 100%;
  max-width: 900px;
}
*/
.content_article {
  text-align: left;
}
/*
.article:first-child {
  margin-bottom: 4em;
}
*/
.content {
  display: flex;
  flex-direction: column;
}

.img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    width: 66vw;
    flex-wrap: wrap;
  }

  .article {
    width: 33%;
  }

  .aside_bar {
    width: 33%;
    background-color: blue;
  }

  .main_aside {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 800px) {
  .main_aside {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }

  .aside_bar {
    background-color: blue;
  }

  .article {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .main_aside {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
