body {
  text-align: center;
  margin: 0px auto 0px auto;
  width: 100%;
  max-width: 1250px;
}

.content_article {
  text-align: left;
  padding-left: auto;
  padding-right: auto;
}

.img {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  width: 250px;
}

.articles {
  display: flex;
  width: 66vw;
  flex-wrap: wrap;
}

.article {
  width: 33%;
}

.aside_bar {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
}

.main_aside {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1050px) {
  .main_aside {
    display: flex;
    flex-direction: column;
  }
  .articles {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }

  .aside_bar {
    width: auto;
  }

  .article {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .articles {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .article {
    width: auto;
  }
}
